In [2]:
import pandas as pd

In [13]:
file_name = "hosts_access_log_00.txt"
# output_name = "bytes_"+ file_name
# output_name

'bytes_hosts_access_log_00.txt'

In [41]:
df = pd.read_csv('/Users/amberm/PycharmProjects/MLE/data_scientist/exercise/' + file_name,  sep=" ", header = None)
df

,0,1,2,3,4,5,6
0,unicomp6.unicomp.net,--,[01/Jul/1995:00:00:06,-04001],GET /shuttle/countdown/ HTTP/1.,200,3985
1,burger.letters.com,--,[01/Jul/1995:00:00:11,-04001],GET /shuttle/countdown/liftoff.html HTTP/1.0,304,0
2,burger.letters.com,--,[01/Jul/1995:00:00:12,-04001],GET /images / NASA- logosmall.gif HTTP/1.0,304,0
3,burger.letters.com,--,[01/Jul/1995:00:00:12,-04001],GET /shuttle/countdown/video/livevideo.gif HTT...,200,0
4,d104.aa.net,--,[01/Jul/1995:00:00:13,-04001],GET /shuttle/countdown/ HTTP/1.0,200,3985
5,unicomp6.unicomp.net,--,[01/Jul/1995:00:00:14,-04001],GET /shuttle/countdown/count.gif HTTP/1.0,200,40310
6,unicomp6.unicomp.net,--,[01/Jul/1995:00:00:14,-04001],GET /images/NASA- logosmall.gif HTTP/1.0,200,786
7,unicomp6.unicomp.net,--,[01/Jul/1995:00:00:14,-04001],GET /images/KSC- logosmall.gif HTTP/1.0,200,1204
8,d104.aa.net,--,[01/Jul/1995:00:00:15,-04001],GET /shuttle/countdown/count.gif HTTP/1.0,200,40310
9,d104.aa.net,--,[01/Jul/1995:00:00:15,-0400],GET /images/NASA-logosmall.gif HTTP/1.0,200,786

In [19]:
df.columns = ['Hostname', '-', '-', 'Timestamp', 'Request', 'Respond code', 'bytes' ]

In [20]:
df

,Hostname,-,-,Timestamp,Request,Respond code,bytes
0,unicomp6.unicomp.net,--,[01/Jul/1995:00:00:06,-04001],GET /shuttle/countdown/ HTTP/1.,200,3985
1,burger.letters.com,--,[01/Jul/1995:00:00:11,-04001],GET /shuttle/countdown/liftoff.html HTTP/1.0,304,0
2,burger.letters.com,--,[01/Jul/1995:00:00:12,-04001],GET /images / NASA- logosmall.gif HTTP/1.0,304,0
3,burger.letters.com,--,[01/Jul/1995:00:00:12,-04001],GET /shuttle/countdown/video/livevideo.gif HTT...,200,0
4,d104.aa.net,--,[01/Jul/1995:00:00:13,-04001],GET /shuttle/countdown/ HTTP/1.0,200,3985
5,unicomp6.unicomp.net,--,[01/Jul/1995:00:00:14,-04001],GET /shuttle/countdown/count.gif HTTP/1.0,200,40310
6,unicomp6.unicomp.net,--,[01/Jul/1995:00:00:14,-04001],GET /images/NASA- logosmall.gif HTTP/1.0,200,786
7,unicomp6.unicomp.net,--,[01/Jul/1995:00:00:14,-04001],GET /images/KSC- logosmall.gif HTTP/1.0,200,1204
8,d104.aa.net,--,[01/Jul/1995:00:00:15,-04001],GET /shuttle/countdown/count.gif HTTP/1.0,200,40310
9,d104.aa.net,--,[01/Jul/1995:00:00:15,-0400],GET /images/NASA-logosmall.gif HTTP/1.0,200,786

In [21]:
total_bytes = df[df['bytes'] > 5000]['bytes'].sum()
total_bytes

80620

In [28]:
total_num =  df[df['bytes'] > 5000]['bytes'].count()
total_num

2

In [33]:
total_bytes.astype(str).to_csv(output_name, sep=',', index=False, encoding='utf-8')

AttributeError: 'numpy.str_' object has no attribute 'to_csv'

In [39]:
with open(output_name, "w") as file:
    file.write(str(total_num)+"\n"+str(total_bytes)+"\n")
    
file.close()

OSError: [Errno 30] Read-only file system: 'bytes_hosts_access_log_00.txt'

In [38]:
!chmod -R 777 /Users/amberm/PycharmProjects/MLE/data_scientist/exercise/bytes_hosts_access_log_00.txt

chmod: /Users/amberm/PycharmProjects/MLE/data_scientist/exercise/bytes_hosts_access_log_00.txt: No such file or directory

In [4]:
test = [1]*63
test.insert(0, 0)
print(test)

[0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

In [5]:
out = 0
l = len(test)
print(l)
for i in range(l):
    out += test[i]*2**(l-i)
print(out)

64
18446744073709551614

[4, 7, 4, 1, 4]
36